*{
    font-family: verdana;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    transition: all .2s linear;
    font-size: 20px;
}


body{
    background: rgb(248, 213, 16);
}
.container{
    padding: 9px;
    text-align: center;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    color: rgb(184, 4, 4);
    

}
.burgesa{
    border: 4px solid red;
}
ul{
    background-color: rgb(248, 244, 15);
    padding: 5px;
    margin: 15px;
    text-align: center;
    list-style: none;
    border: 5px outset rgb(206, 27, 14);
    border-radius: 40px;
    width: 155px;
    
}

.text:hover{
    border-radius: 50px;
    border: 5px outset red;

}
.rappi{
    background-color: red;
    text-align: center;
    font-size: 30px;
    padding: 10px;

}
.rappi:hover{
    border-radius: 40px;
    border:5px solid rgb(255, 251, 0);
}
footer{
    color: black;
    background-color:red;
    font-size: 24px;
    align-items: flex-end;
    padding: 20px;
    width: 100%;
    margin: 10px;
}
footer:hover{
    border-radius: 40px;
    border: 5px solid rgb(255, 251, 0);
}





